/* Palette (http://paletton.com/palette.php?uid=54A0u0klDlDdfUEl7EBl7af5-2f) */

body {
  background-color: #271537;
  color: #C493EE;
}

#favs {
  background-color: #3B3177;
  color: #C493EE;
}

.ice-cream {
  color: #F28ED7;
}

h1 {
  color: #FFFFFF;
}

h2,
h3,
h4,
h5,
h6 {
  color: #D247AC;
}

a {
  color: #8D4CC5;
}